{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title"><h2 style="font-size:40px;"><b>Commerce</b></h2></div>
				</div>
			</div>
			<div class="row about_row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="about_text" style="font-size:20px;color:white;">
							<p>Commerce is not business (i.e. an organization or activity whose goal is to sell manufactured goods and/or services for profit), but rather the aspect of business related to the movement and distribution of finished or intermediate (but valuable) goods and services from the primary manufacturers to the end customers on a large scale, as opposed to the sourcing of raw materials and manufacturing of those goods.
Commerce is different from trade as well. Trade is the transaction (buying and selling) of goods and services that makes a profit for the seller and satisfies the want or need of the buyer. When trade is carried out within a country, it is called home or domestic trade, which can be wholesale or retail. A wholesaler buys from the producer in bulk and sells to the retailer who then sells again to the final consumer in smaller quantities. Trade between a country and the rest of the world is called foreign or international trade, which consists of import trade and export trade, both being wholesale in general.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about_image"><img src="{% static 'img/41473532-untitled-design-8.jpg' %}" alt=""></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
