{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div>
            <center><img class="my_image my_image_padding" src="{% static 'img/Untitled design.png' %}" alt="Welcome"></center>
        </div>
        <br>
    <div>
        <h1 class="text-center my_title">We got what you need</h1>
        <p class="text-justify text-center" style="font-size:30px;padding:10px;color:white;">Welcome to your online destination for school supplies, stationery, and academic books. We associate with Schools and align the offering according to the academic requirements of that school.</p>
    </div>


{% endblock %}
